:root {
    --zIndexHeader: 100;
 
    --headerHeight: 70px;

    --containerXl: 1200px;

    --spacingSm: 10px;
    --spacingMd: 20px;

    --colorDefault: #333;
    --colorBackground: #fff;

    --fontDefault: 'Lato', sans-serif;
    
    --fontSizeSm: 14px;
}

/* defaults */

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    /*
        It will be changing depending on viewport
        and is used by .main and .footer,
        so it has to be put inside one of their parent
        to be visible by them both
    */
    --sectionSpacing: var(--spacingMd);
}

body {
    margin: 0;
    color: var(--colorDefault);
    font-family: var(--fontDefault);
    font-size: var(--fontSizeSm);
    font-weight: 400;
    overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    max-width: 100%;
}

/* root */

#root {
    height: 100vh;
    border: 2px solid green;
    overflow-y: scroll;
}

/* portal */

#portal {
    position: fixed;
    inset: 0;
}

#portal:empty {
    display: none;
}

/* section */

.section {
    padding-inline: var(--spacingSm);
    display:grid;
    justify-items: center;
    border: 1px solid red;
}

.section__container {
    width: min(100%, var(--containerXl));
    border: 1px solid blue;
}

.section__heading {
    font-size: 2em;
}

/* header */

.header {
    position: sticky;
    top: 0;
    z-index: var(--zIndexHeader);
    height: var(--headerHeight);
    background-color: var(--colorBackground);
}

.header__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacingMd);
}

.header__logo {
    cursor: pointer;
}

/* nav */

.nav__links {
    list-style: none;
    display: flex;
    gap: var(--spacingMd);
}

.nav__link {
    text-decoration: none;
}

/* main */

.main {
    display: grid;
    gap: var(--sectionSpacing);
}

/* hero */

.hero {
    position: relative;
    min-height: 500px;;
}

.hero__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: pink;
}

.hero__container {
    height: 100%;
}

.hero__heading {
    font-size: 3em;
}

/* footer */

.footer {
    margin-top: var(--sectionSpacing);
}
