:root {
    --zIndexHeader: 100;
 
    --headerHeight: 70px;

    --containerXl: 1200px;

    --spacingSm: 10px;
    --spacingMd: 20px;

    --colorDefault: #333;
    --colorBackground: #fff;

    --fontDefault: 'Lato', sans-serif;
    
    --fontSizeSm: 14px;
}
